.wrapper {
  width: 100%;
  display: flex;
  gap: 50px;
}
.serviceLeft {
  flex-basis: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.serviceRight {
  flex-basis: 80%;
}
.serviceLeft p {
  font-size: 21px;
  color: var(--theme-color);
}
.serviceLeft h2 {
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 120%;
  color: #000000;
}
.dots {
  display: flex;
  gap: 10px;
}
.dots span {
  width: 10px;
  height: 10px;
  background: #dec8f4;
  border-radius: 50%;
}
.dots span.active {
  background-color: var(--theme-color);
}
.serviceBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  border: 2px solid #121212;
  border-radius: 50px;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #121212;
  background-color: #fff;
  margin-top: auto;
}
.serviceBtn img {
  width: 30px;
  height: 30px;
}
.serviceRight {
  background: #f4edfcbf;
  border-radius: 50px;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #929292;
}
.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
  height: 175px;
}
.card {
  height: max-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 75px;
  gap: 20px;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.card h2 {
  font-weight: 600;
  font-size: 16px;
  color: #121212;
}
.card p {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #606060;
}
.card button {
  background: #121212;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.card button img {
  width: 40px;
}
.card button:hover > img{
  filter: invert(0);
}
.card.active {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}
.card:not(.active) > p,
.card:not(.active) > button {
  opacity: 0;
}
.card img {
  width: 60px;
  height: 60px;
}

/* media query */
@media screen and (max-width: 1030px) {
  .wrapper {
    flex-direction: column;
  }
  .serviceBtn {
    padding: 10px 18px;
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .dots span {
    width: 8px;
    height: 8px;
  }
  .serviceRight {
    padding: 40px 20px;
    gap: 20px;
  }
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .cards {
    height: auto;
    flex-wrap: wrap;
  }
  .card {
    flex-basis: 40%;
    background-color: #fff;
  }
  .card.active {
    box-shadow: 0px 8px 40px #954ddca7;
  }
  .card:not(.active) > p,
  .card:not(.active) > button {
    opacity: 1;
  }
  .card img {
    width: 50px;
    height: 50px;
  }
  .card > button {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .cards {
    gap: 25px;
  }
  .card button {
    position: static;
    margin-left: auto;
    margin-right: 15px;
  }
  .card {
    padding: 10px;
    flex-basis: 100%;
  }
  .text {
    font-size: 16px;
  }
  .card img {
    width: 50px;
    height: 50px;
  }
  .card > button {
    width: 25px;
    height: 25px;
  }
}
