.homeWrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
   
}
.leftHome,
.rightHome {
  /* height: 100%; */
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  max-width: 500px;
}
.leftHome h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 120%;
  color: #121212;
}
.leftHome p {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #929292;
}

.mailSection {
  width: max-content;
  background: #e7e7e7;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
}
.email {
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  margin-left: 10px;
}
.mailBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #954ddc;
  border-radius: 25px;
  color: #ffffff;
  border: none;
  outline: none;
}
.languageBtn {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  margin-top: auto;

  /* Colors/neutral/neutral-200 */
  border: 1px solid #929292;
  border-radius: 25px;
  color: #929292;
}
.languageBtn img {
  width: 25px;
}
.rightHome {
  align-items: center;
  justify-content: center;
}
.imageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  --gap: 18px;
  gap: var(--gap);
  position: relative;
}
.top {
  display: flex;
  gap: var(--gap);
}
.left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: relative;
}
.imgWra {
  width: 100%;
  height: 100%;
  background-color: #954ddc;
  border-radius: 24px;
  position: relative;
}
.imgWra img {
  display: block;
}
.imgWra .numbers {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 10;
}
.imgWra .numbers p {
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  text-align: right;
  color: #ffffff;
}
.imgWra .numbers span {
  color: #fff;
}
.right {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
}
.right .numbers, .bottom .numbers{
  display: none;
  opacity: 0;
}
.circleEye {
  width: 50%;
  position: absolute;
  transform: translateX(-52%);
  top: 45%;
  text-shadow: 5px solid #fff;
}


/* media query */
@media screen and (max-width: 1150px) {
  .leftHome{
    flex-basis: 40%;
  }
.rightHome {
  flex-basis: 60%;
  }
}

@media screen and (max-width: 950px) {
  .homeWrapper {
    flex-direction: column;
    gap: 30px;
  }
  .rightHome {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .imgWra .numbers p {
    font-size: 35px;
  }
  .imgWra .numbers span {
    font-size: 14px;
  }
  
}
@media screen and (max-width: 550px) {
  .rightHome {
    width: 85%;
  }
  .imgWra .numbers p {
    font-size: 30px;
  }
  .left .numbers {
    display: none;
    opacity: 0;
  }
  .imgWra .numbers p {
    font-size: 25px;
  }
  .imgWra .numbers span {
    font-size: 12px;
  }
  .right .numbers, .bottom .numbers{
    display: block;
    opacity: 1;
  }
  .right .imgWra img, .bottom .imgWra img{
    filter: brightness(0.5);
  }
  .email {
    font-size: 14px;
  }
  .mailBtn {
    padding: 10px 18px;
  }
}
@media screen and (max-width: 350px){
  .mailSection {
    width: auto;
    gap: 5px;
    padding: 8px 4px;
  }
}