.mainWrapper{
    position: relative;
    max-width: 1366px;
    background: #FFFFFF;
    margin: auto;
}

.sections{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
@media screen and (max-width: 767px) {
  .sections{
    gap: 80px;
  }
}

.section{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: var(--padding-value);
    position: relative;
  }
  
  .section.medicine{
    background-color: #F4EDFC;
    color: #954DDC;
  }
  /* for applying the background Image to the contact wrapper */
  .section.contact{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: var(--theme-color);
    background-image: url('/aboutAssets/back2.png');
  }
  .section.banner{
    min-height: 300px;
    background-image: url("/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* media query */
@media screen and (max-width: 768px) {
  .section.contact{
    height: auto;
  }
}
 